@import url(https://fonts.googleapis.com/css?family=Vollkorn);

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #FCFCFC;
  background-size: cover;
  color:black;
  font-family: 'Vollkorn', serif;
  text-align: center;
  font-size:1.5em;
}

.wrapper{
  margin: 0;
  padding: 1% 5%;
}
p, li{
  font-family: 'arial', sans-serif;
  font-size: 0.7em;
  text-align:left;
  margin:0 auto; 
  width:50%;
  
} 

.header img { 
  width: 80px;
  height: 100px; 
}

.header h1 {  
  display:inline;
  position:relative;
  top: -10px;
} 